<configuration>
  <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
  <property name="LOG_HOME" value="${commonLogPath}"/>
  <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
  <property name="FORMAT" value="%d{yyyy-MM-dd HH:mm:ss.SSS} | [%thread] | %-5level | %logger{80} | - %msg%n"/>
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOG_HOME}/logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>${FORMAT}</pattern>
      <charset>UTF-8</charset> <!-- 此处设置字符集 -->
    </encoder>
  </appender>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${FORMAT}</pattern>
    </encoder>
  </appender>
  <appender name="CONSOLELOGAPPENDER" class="com.liulongling.tool.common.logback.ConsoleLogAppender">
    <encoder>
      <pattern>${FORMAT}</pattern>
    </encoder>
  </appender>
  <root level="DEBUG">
    <appender-ref ref="FILE"/>
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="CONSOLELOGAPPENDER"/>
  </root>
</configuration>